:root {
  /* --background-accent-red: #782828;
  --background-accent-blue: #276fbf;
  --background-light: #f5f5f5;
  --background-dark: #d8dbe2;
  --text-light: #222823;
  --text-dark: #131200;
  --accent-color: #58a4b0;
  --content-color: #a9bcd0; */

  --background: #4186d3;
  --background-accent-blue_1: #0d56a6;
  --background-accent-blue_2: #274f7d;
  --background-accent-blue_3: #04356c;
  --background-accent-blue_4: #689ad3;

  --background-grey: #dfdfdf;
  --background-light-grey: ;

  --background-accent-red: #d22828;
  --background-accent-yellow: #fa0;
  --background-accent-peach: #ff7373; 
  --text: #0f0f0f;
  --text-light: #f0f0f0; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  color: var(--text);
  display: flex;
  height: 100vh;
}

ul {
  list-style-type: none;
}

button,
a {
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
}

img {
  width: 100%;
}
