:root {
  --background-accent-red: #782828;
  --background-accent-blue: #276fbf;
  --background-light: #f5f5f5;
  --background-dark: #d8dbe2;
  --color-champagne-pink: #edd3c4;
  --text-light: #222823;
  --text-dark: #131200;
  --accent-color: #58a4b0;
  --content-color: #a9bcd0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  height: 100vh;
  
}

ul {
  list-style-type: none;
}

button,
a {
  cursor: pointer;
  font: inherit;
  color: inherit;
}

img {
  width: 100%;
}
