.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px 20px;
  color: #fff;
  font-size: 1rem;
  background-color: var(--background);
}

.sidebar__navigation {
  flex-grow: 1;
}

.logo {
  width: 12rem;
}

.title {
  margin: -10px 0 0;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.divider {
  margin: 1rem 0;
  border-top: 1px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.navigation__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.4rem;
}

.navigation-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
}

.navigation-link:hover,
.login-logout:hover {
  background-color: var(--background-accent-blue_1);
}

.navigation-link:active,
.login-logout:active {
  background-color: var(--background-accent-blue_2);
}

.login-logout {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-color: transparent;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  background-color: transparent;
}

.appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--text);
  background-color: white;
}

.page__title {
  font-size: 1.6rem;
}

.appbar__content-container {
  display: flex;
  align-items: center;
}

.search-bar__label {
  position: relative;
  border-color: transparent;
  border-radius: 1.2rem;
  padding: 0.6rem 1rem;
  background-color: var(--background-grey);
  margin-right: 1.2rem;
}

.search-bar__label:has(:focus-visible):not(:has(.search-button:focus-visible)) {
  outline: 1px solid var(--text);
}

.search-bar {
  border: none;
  border-radius: 1.2rem;
  padding: 0.4rem 1.6rem 0.4rem 0.2rem;
  font-size: 1.1rem;
  background-color: transparent;
}

.search-bar::placeholder {
  font-family: "Poppins";
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-bar:focus,
.search-bar:focus-visible,
.search-button:focus {
  outline: none;
}

.search-button {
  position: absolute;
  right: 1rem;
  bottom: 30%; /* переделать костыль */
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-color: transparent;
}

.search-button:focus-visible .search-icon {
  outline: 1px solid var(--text);
  outline-offset: 2px;
}

.search-icon {
  width: 100%;
  height: 100%;
}

.appbar__settings {
  display: flex;
  gap: 0.4rem;
}

.profile__link {
  width: 32px;
  height: 32px;
}

.profile-icon {
  width: 100%;
  height: 100%;
}

.appbar__dropdown-button {
  border-color: transparent;
  background-color: transparent;
  rotate: 270deg;
  font-weight: 700;
  font-size: 
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widgets {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow: auto;
  background-color: var(--background-grey);
}

.widget {
  display: flex;
  flex-direction: column;
  grid-column: auto;
  grid-row: auto;
  border-radius: 12px;
  padding: 10px 16px;
  color: var(--text);
  background-color: white;
}

.accent-blue_1 {
  background-color: var(--background-accent-blue_1);
}

.accent-blue_2 {
  color: white;
  background-color: var(--background-accent-blue_2);
}

.accent-blue_3 {
  color: white;
  background-color: var(--background-accent-blue_3);
}

.accent-blue_4 {
  background-color: var(--background-accent-blue_4);
}

.widget-small {
  grid-column: span 1;
  grid-row: span 1;
  justify-content: space-between;
}

.widget-medium {
  grid-column: span 1;
  grid-row: span 2;
}

.widget-large {
  grid-column: span 2;
  grid-row: span 2;
}

.widget-small__title {
  font-weight: 400;
  font-size: 1.2rem;
}

.widget__text-large {
  font-weight: 500;
  font-size: 2rem;
}

.widget__info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.4rem;
  padding: 0.8rem;
}

.widget__title {
  color: var(--text-dark);
}

.chart__legend {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.legend__list-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.legend-item__icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.legend-item__text {
  color: var(--text-dark);
}

.widget__select {
  border: 1px solid var(--text);
  border-radius: 6px;
  padding: 2px 10px;
  outline: none;
  font-family: inherit;
  background-color: var(--background-light-grey);
}

.chart {
  display: flex;
}

/* .chart__data-period {
  border: 1px solid var(--text);
  border-radius: 6px;
  padding: 2px 10px;
  outline: none;
  font-family: inherit;
  background-color: var(--background-light-grey);
} */

.widget__select:focus {
  outline: transparent;
}

.widget__select:focus-visible {
  outline: 1px solid var(--text);
}

.transactions {
  display: flex;
  flex-direction: column;
}

.transactions__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  gap: 0.4rem;
  padding: 1rem 1rem;
  overflow-y: hidden;
}

.transactions__list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(113, 127, 154, 0.5);
  padding-bottom: 0.4rem;
}

.transactions__list-item:last-child {
  border-bottom: none;
}

.customer-name {
  flex-grow: 1;
  text-wrap: nowrap;
}

.subscription-plan {
  margin-right: 0.4rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.1rem 0.3rem;
}

.subscription-plan_base {
  border-color: var(--background);
}

.subscription-plan_advanced {
  border-color: var(--background-accent-pink);
}

.subscription-plan_pro {
  border-color: var(--background-accent-blue_3);
}

.subscription-plan_enterprise {
  border-color: var(--background-accent-yellow);
}

.transactions__button-view-all {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0.8rem;
}

.tickets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content 1fr;
}

.tickets__select {
  justify-self: end;
  width: min-content;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 2;
  gap: 0.4rem;
  padding: 0.8rem 0;
}

.tab__button {
  border-width: 2px;
  border-style: solid;
  border-radius: 1rem;
  padding: 0.1rem 0.8rem;
  transition: background-color 0.3s ease;
}

.tab_all {
  border-color: var(--text);
}

.tab_all:hover {
  background-color: color-mix(in srgb, var(--text) 30%, transparent);
}

.tab_open {
  border-color: var(--background-accent-blue_1);
}
.tab_open:hover {
  background-color: color-mix(
    in srgb,
    var(--background-accent-blue_1) 80%,
    transparent
  );
}

.tab_pending {
  border-color: var(--background-accent-yellow);
}
.tab_pending:hover {
  background-color: color-mix(
    in srgb,
    var(--background-accent-yellow) 80%,
    transparent
  );
}

.tab_closed {
  border-color: var(--background-accent-red);
}
.tab_closed:hover {
  background-color: color-mix(
    in srgb,
    var(--background-accent-red) 80%,
    transparent
  );
}

.tab__button-active {
  color: white;
}

.tickets__list {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  justify-content: space-evenly;
  height: 100%;
}

.ticket {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  justify-content: space-between;
  border-bottom: 1px solid rgba(113, 127, 154, 0.5);
  padding: 0.4rem 0;
}

.customer-email {
  font-weight: 300;
  white-space: nowrap;
}

.ticket__subject {
  overflow: hidden;
  font-weight: 500;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket__status {
  justify-self: end;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.status_open {
  background-color: var(--background);
}

.status_pending {
  color: var(--text);
  background-color: var(--background-accent-yellow);
}

.status_closed {
  background-color: var(--background-accent-red);
}
