.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px 20px;
  color: #fff;
  font-size: 1rem;
  background-color: var(--background);
}

.sidebar nav {
  flex-grow: 1;
}

.logo {
  width: 12rem;
}

.title {
  margin: -10px 0 0;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.divider {
  border-top: 1px solid white;
  margin: 1rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.navigation__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  gap: 0.4rem;
}

.navigation-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}

.navigation-link:hover, .login-logout:hover {
  background-color: var(--background-accent-blue_1);
/*   text-decoration: underline;
  text-underline-offset: 4px; */
}

.navigation-link:active, .login-logout:active {
  background-color: var(--background-accent-blue_2);
}

/* .bi {
    width: 1rem;
    height: 1rem;
} */

.login-logout {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
  border: none;
  background: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}

.appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--text);
  background-color: white;
}

.page__title {
  font-size: 1.6rem;
}

.search-bar__label {
  position: relative;
  border: none;
  border-radius: 1.2rem;
  padding: 0.6rem 1rem;
  background-color: var(--background-grey);
}

.search-bar__label:has(:focus-visible):not(:has(.search-button:focus-visible)) {
  outline: 1px solid var(--text);
}

.search-bar {
  border: none;
  border-radius: 1.2rem;
  padding: 0.4rem 1.6rem 0.4rem 0.2rem;
  font-size: 1.1rem;
  background-color: transparent;
}

.search-bar::placeholder {
  font-family: "Poppins";
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-bar:focus,
.search-bar:focus-visible,
.search-button:focus {
  outline: none;
}

.search-button {
  position: absolute;
  right: 1rem;
  bottom: 30%; /* переделать костыль */
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-color: transparent;
}

.search-button:focus-visible .search-icon {
  outline: 1px solid var(--text);
  outline-offset: 2px;
}

.search-icon {
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
  height: 100%;
  padding: 20px;
  background-color: var(--background-grey);
}

.widget {
  display: flex;
  flex-direction: column;
  grid-column: auto;
  grid-row: auto;
  border-radius: 12px;
  padding: 10px 16px;
  color: var(--text);
  background-color: white;
}

.accent-blue_1 {
  background-color: var(--background-accent-blue_1);
}

.accent-blue_2 {
  color: white;
  background-color: var(--background-accent-blue_2);
}

.accent-blue_3 {
  background-color: var(--background-accent-blue_3);
  color: white;
}

.accent-blue_4 {
  background-color: var(--background-accent-blue_4);
}

.widget-small__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

.widget__text-large {
  font-weight: 500;
  font-size: 1.6rem;
}

.widget-medium {
  grid-row: span 2;
}

.widget-large {
  grid-column: span 2;
  grid-row: span 2;
}

.widget__info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.4rem;
  padding: 0.8rem;
}

.widget__title {
  color: var(--text-dark);
}

.chart__legend {
  display: flex;
  gap: 0.8rem;
}

.legend__list-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.legend-item__icon {
  width: 1rem;
  height: 1rem;
}

.legend-item__text {
  color: var(--text-dark);
}

.widget__select {
  border: 1px solid var(--text);
  border-radius: 6px;
  padding: 2px 10px;
  outline: none;
  font-family: inherit;
  background-color: var(--background-light-grey);
}

/* .chart__data-period {
  border: 1px solid var(--text);
  border-radius: 6px;
  padding: 2px 10px;
  outline: none;
  font-family: inherit;
  background-color: var(--background-light-grey);
} */

.chart__data-period:focus {
  outline: transparent;
}

.chart__data-period:focus-visible {
  outline: 1px solid var(--text);
  /* outline-offset: 1px; */
}

.transactions {
  display: flex;
  flex-direction: column;
}

.transactions__title {
  margin-bottom: 0.6rem;
}

.transactions__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.4rem;
}

.transactions__list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(113, 127, 154, 0.5);
  padding-bottom: 0.4rem;
}

.customer-name {
  flex-grow: 1;
  text-wrap: nowrap;
}

.subscription-plan {
  margin-right: 0.4rem;
  border-radius: 4px;
  padding: 0.1rem 0.3rem;
  border-width: 2px;
  border-style: solid;
}

.subscription-plan_base {
  border-color: var(--background);
}

.subscription-plan_advanced {
  border-color: var(--background-accent-pink);
}

.subscription-plan_pro {
  border-color: var(--background-accent-blue_3);
}

.subscription-plan_enterprise {
  border-color: var(--background-accent-yellow)
}

.tabs {
  display: flex;
  gap: 0.2rem;
  width: 100%;
}

.tab__button {
  padding: 0.1rem 0.6rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 2px;
}

.tab_open {
  border-color: var(--background-accent-blue_1);
}

.tab_open:hover {
  background-color: color(from var(--background-accent-blue_1) srgb r g b / 0.8);
}

.tab_pending {
  border-color: var(--background-accent-yellow);
}

.tab_closed {
  border-color: var(--background-accent-red);
}

.tickets__list {
  display: flex;
  flex-direction: column;
}

.tickets__list::marker {
  background-color: var(--text);
  width: 1rem;
  height: 1rem;
}

.ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
