.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px 20px;
  color: #fff;
  font-size: 1rem;
  background-color: var(--background);
}

.sidebar__navigation {
  flex-grow: 1;
}

.logo {
  width: 12rem;
}

.title {
  margin: -10px 0 0;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.divider {
  margin: 1rem 0;
  border-top: 1px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.navigation__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.4rem;
}

.navigation-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
}

.navigation-link:hover,
.login-logout__button:hover {
  background-color: var(--background-accent-blue_1);
}

.navigation-link:active,
.login-logout__button:active {
  background-color: var(--background-accent-blue_2);
}

.login-logout__button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-color: transparent;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  background-color: transparent;
}

.appbar {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--text);
}

.page__title {
  flex-grow: 1;
  font-size: 1.6rem;
}

.search-form {
  width: 300px;
  margin: 0 1rem 0 1rem;
  transition: width 1s cubic-bezier(0.33, 1, 0.68, 1) 0s;
}

.search-form:focus-within {
  width: 50%;
}

.search-bar__label {
  display: flex;
  border-color: transparent;
  border-radius: 1.2rem;
  padding: 0.6rem 1rem;
  background-color: var(--background-grey);
}

.search-bar__label:has(:focus-visible):not(:has(.search-button:focus-visible)) {
  outline: 1px solid var(--text);
}

.search-bar {
  border: none;
  border-radius: 1.2rem;
  padding: 0 1.6rem 0 0.2rem;
  font-size: 1.1rem;
  background-color: transparent;
  inline-size: 100%;
}

.search-bar::placeholder {
  font-family: "Poppins";
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-bar:focus,
.search-bar:focus-visible,
.search-button:focus {
  outline: none;
}

.search-button {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url('../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.search-button:focus-visible {
  outline: 1px solid var(--text);
  outline-offset: 2px;
}

.profile__link {
  block-size: 100%;
}

.profile-icon {
  width: 100%;
  height: 100%;
}

.appbar__dropdown-button {
  display: flex;
  align-items: center;
  height: 100%;
  border-color: transparent;
  font-weight: 700;
  background-color: transparent;
}

.dropdown-button__icon {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(4, minmax(334px, 1fr)); /* виджеты не должны сужаться, они должны переноситься */
  grid-template-rows: repeat(7, 1fr);
  grid-auto-rows: repeat(auto-fit, 1fr);
  gap: 1.4rem;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  background-color: var(--background-grey);
  grid-auto-flow: row dense;
}

@media (max-width: 1280px) {
  .widgets {
    grid-template-columns: repeat(3, 1fr); /* 2 колонки для экранов меньше 1280px */
  }
}

@media (max-width: 768px) {
  .widgets {
    grid-template-columns: 1fr; /* 1 колонка для экранов меньше 768px */
  }
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 0.4rem 1rem;
  color: var(--text);
  font-weight: normal;
  font-size: 1rem;
  background-color: white;
}

.widget:not(.widget_small)

.accent-blue_1 {
  background-color: var(--background-accent-blue_1);
}

.accent-blue_2 {
  color: white;
  background-color: var(--background-accent-blue_2);
}

.accent-blue_3 {
  color: white;
  background-color: var(--background-accent-blue_3);
}

.accent-blue_4 {
  background-color: var(--background-accent-blue_4);
}

.widget_small {

}

.widget_small .widget__title {
  font-weight: normal;
}

.widget_small .widget__text {
  font-weight: 400;
  font-size: 2em;
}

.widget-medium {
  grid-column: span 1;
  grid-row: span 3;
}

.widget_large {
  grid-column: span 2;
  grid-row: span 3;
}

.widget__info-container {
  display: flex;
  justify-content: space-between;
}

.widget__select {
  border: 1px solid var(--text);
  border-radius: 6px;
  padding: 2px 10px;
  outline: none;
  font-family: inherit;
  background-color: var(--background-light-grey);
}

.widget__select:focus {
  outline: transparent;
}

.widget__select:focus-visible {
  outline: 1px solid var(--text);
}

.transactions {
  display: flex;
  flex-direction: column;
}

.transactions__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  gap: 0.4rem;
  padding: 1rem 1rem;
  overflow-y: hidden;
}

.transactions__list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(113, 127, 154, 0.5);
  padding-bottom: 0.4rem;
}

.transactions__list-item:last-child {
  border-bottom: none;
}

.customer-name {
  flex-grow: 1;
  text-wrap: nowrap;
}

.subscription-plan {
  margin-right: 0.4rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.1rem 0.3rem;
}

.subscription-plan_base {
  border-color: var(--background);
}

.subscription-plan_advanced {
  border-color: var(--background-accent-pink);
}

.subscription-plan_pro {
  border-color: var(--background-accent-blue_3);
}

.subscription-plan_enterprise {
  border-color: var(--background-accent-yellow);
}

.transactions__button-view-all {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0.8rem;
}

.tickets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content 1fr;
}

.tickets__select {
  justify-self: end;
  width: min-content;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 2;
  gap: 0.4rem;
  padding: 0.8rem 0;
}

.tab__button {
  border-width: 2px;
  border-style: solid;
  border-radius: 1rem;
  padding: 0.1rem 0.8rem;
  transition: background-color 0.3s ease;
}

.tab_all {
  border-color: var(--text);
}

.tab_all:hover {
  background-color: color-mix(in srgb, var(--text) 30%, transparent);
}

.tab_open {
  border-color: var(--background-accent-blue_1);
}
.tab_open:hover {
  background-color: color-mix(
    in srgb,
    var(--background-accent-blue_1) 80%,
    transparent
  );
}

.tab_pending {
  border-color: var(--background-accent-yellow);
}
.tab_pending:hover {
  background-color: color-mix(
    in srgb,
    var(--background-accent-yellow) 80%,
    transparent
  );
}

.tab_closed {
  border-color: var(--background-accent-red);
}
.tab_closed:hover {
  background-color: color-mix(
    in srgb,
    var(--background-accent-red) 80%,
    transparent
  );
}

.tab__button-active {
  color: white;
}

.tickets__list {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  justify-content: space-evenly;
  height: 100%;
}

.ticket {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  justify-content: space-between;
  border-bottom: 1px solid rgba(113, 127, 154, 0.5);
  padding: 0.4rem 0;
}

.customer-email {
  font-weight: 300;
  white-space: nowrap;
}

.ticket__subject {
  overflow: hidden;
  font-weight: 500;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket__status {
  justify-self: end;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.status_open {
  background-color: var(--background);
}

.status_pending {
  color: var(--text);
  background-color: var(--background-accent-yellow);
}

.status_closed {
  background-color: var(--background-accent-red);
}
